<!-- Main Content -->

<main class="content-wrapper">
  <div class="container">
    <div class="col-lg-4">
      <div class="sidebar">
        <!-- <div class="widget widget-support-forum">
          <span class="icon icon-forum"></span>
          <h4>Join our Community!</h4>
          <p>Couldn’t find what your are looking for ? Why not join our community forums and let us help
            you.</p>
          <a href="https://community.rigoblock.com" class="btn btn-success" target="_blank">Community Forum</a>
        </div> -->

        <!--******************************* Lists *******************************-->

        <div class="pt-50">
          <div class="widget widget_categories">
            <span class="icon icon-folder"></span>
            <h4>Knowledgebase Topics Categories</h4>
            <ul>
              {{#canEdit}}
              <li><input id="newCategory" type="text" class="form-control" placeholder="{{lang.page.addCategory}}" /></li>
              {{/canEdit}}

              {{#pages}}
              <li>
                {{#is_index}}
                {{lang.global.mainArticles}} {{#canEdit}}<a class="add-page" data-toggle="modal" data-target="#addModal"
                  title="{{lang.page.addPage}}"><span style="font-weight: bold; font-size: 16px; cursor:pointer">&#43;</span></a>{{/canEdit}}
                {{/is_index}}
                {{^is_index}}
                {{title}} {{#canEdit}}<a class="add-page" data-toggle="modal" data-target="#addModal" title="{{lang.page.addPage}}"><span
                    style="font-weight: bold; font-size: 16px; cursor:pointer">&#43;</span></a>{{/canEdit}}
                {{/is_index}}
                <ul>
                  {{#files}}
                  {{^is_directory}}
                  <li><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                  {{/is_directory}}
                  {{#is_directory}}
                  <li>{{title}}
                    {{#files}}
                    <ul>
                      {{^is_directory}}
                      <li><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                      {{/is_directory}}
                      {{#is_directory}}
                      <li>{{title}}</li>
                      <ul>
                        {{#files}}
                        <li><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                        {{/files}}
                      </ul>
                      {{/is_directory}}
                    </ul>
                    {{/files}}
                  </li>
                  {{/is_directory}}
                  {{/files}}
                </ul>
              </li>
              {{/pages}}
            </ul>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <article class="post">
        {{#meta.title}}<h1 class="title">{{meta.title}}</h1>{{/meta.title}}

        <ul class="meta">
          <li><span>{{lang.global.lastUpdated}}:</span> {{last_modified}}</li>
        </ul>




        <div class="alert alert-info" role="alert">
          <span class="icon-info"></span>
          <p>
            This documentation is always evolving. If you've not been here for a while, perhaps check out
            it out again carefully.
          </p>
        </div>
        <div class="article-text">
          {{{content}}}
        </div>


        <!-- <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered
          alteration in some form, by injected humour, or randomised words which don’t look even slightly
          believable.
        </p>
        <p>
          If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything
          embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to
          repeat predefined chunks as necessary, making this the first true generator on the Internet.
        </p>
        <img class="aligncenter" src="assets/images/connection.png" alt="">

        <h2>Auth Services & Requirments</h2>
        <p>
          If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything
          embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to
          repeat predefined chunks as necessary, making this the first true generator on the Internet.
        </p>
        <blockquote>

          echo "Hello World";
          echo "\n";

        </blockquote>
        <h2>Final Step</h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered
          alteration in some form, by injected humour, or randomised words which don’t look even slightly
          believable.
        </p> -->
      </article>
      <!-- <div class="feedback">
        <h3>Was this article helpful to you?</h3>
        <a class="btn btn-default" href="#">Yes</a>
        <a class="btn btn-default" href="#">No</a>
        <form>
          <input type="text" placeholder="How else could we improve it ?">
          <input type="submit" class="btn btn-success" value="Submit Feedback">
        </form>

      </div> -->
    </div>
  </div>
</main>



<div class="row">
  <!-- <div class="col-sm-3 hidden-xs">

    <ul class="menu">
      {{#canEdit}}
      <li><input id="newCategory" type="text" class="form-control" placeholder="{{lang.page.addCategory}}" /></li>
      {{/canEdit}}

      {{#pages}}
      <li class="category {{#active}} active{{/active}}">
        {{#is_index}}
        <h5 class="category-title">{{lang.global.mainArticles}} {{#canEdit}}<a class="add-page" data-toggle="modal"
            data-target="#addModal" title="{{lang.page.addPage}}"><span style="font-weight: bold; font-size: 16px; cursor:pointer">&#43;</span></a>{{/canEdit}}</h5>
        {{/is_index}}
        {{^is_index}}
        <h5 class="category-title">{{title}} {{#canEdit}}<a class="add-page" data-toggle="modal" data-target="#addModal"
            title="{{lang.page.addPage}}"><span style="font-weight: bold; font-size: 16px; cursor:pointer">&#43;</span></a>{{/canEdit}}</h5>
        {{/is_index}}
        <ul class="pages">
          {{#files}}
          {{^is_directory}}
          <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
          {{/is_directory}}
          {{#is_directory}}
          <li class="page{{#active}} active{{/active}}">{{title}}
            {{#files}}
            <ul>
              {{^is_directory}}
              <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
              {{/is_directory}}
              {{#is_directory}}
              <li class="page{{#active}} active{{/active}}">{{title}}</li>
              <ul>
                {{#files}}
                <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                {{/files}}
              </ul>
              {{/is_directory}}
            </ul>
            {{/files}}
          </li>
          {{/is_directory}}
          {{/files}}
        </ul>
      </li>
      {{/pages}}
    </ul>

  </div> -->
  <!-- <div class="col-sm-9">

    <section class="content">

      {{#canEdit}}
      <div class="btn-group btn-group-sm pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          {{lang.page.actions}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a class="goto-edit">{{lang.page.editPage}}</a></li>
          <li><a data-toggle="modal" data-target="#deleteModal">{{lang.page.deletePage}}</a></li>
        </ul>
      </div>
      {{/canEdit}}

      {{#meta.title}}<h1 class="title">{{meta.title}}</h1>{{/meta.title}}

      {{{content}}}

      <div class="page-meta clearfix">
        {{#config.support_email}}
        <div class="contact-support pull-left">
          <span class="glyphicon glyphicon-envelope"></span> {{lang.page.needHelp}} <a href="mailto:{{config.support_email}}">{{lang.page.getInTouch}}</a>
        </div>
        {{/config.support_email}}
        <div class="last-updated pull-right">
          {{lang.global.lastUpdated}} {{last_modified}}
        </div>
      </div>

    </section>

  </div>
</div> -->